# Python
*.pyc
*.pyo
__pycache__/

venv

# Django
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3
media/
static/

# Virtual environment
venv/
env/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE files
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Coverage
coverage/

# Pytest
*.cover
*.hypothesis/

# Build files
*.egg
*.egg-info/
dist/
build/

# Cython
cython.pyx

# Sphinx documentation
docs/_build/
node_modules/
package-lock.json