@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

.featuresSection {
  text-align: center;
  padding: 70px 20px;
  font-family: "Inter", sans-serif;
  background: #fff;
  position: relative;
  z-index: 100;
}

.featurePattern {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../assests/features-pattern.jpg");
  content: "";
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.featuresTitle {
  font-size: 3vw;
  font-weight: 600;
  color: #333;
  margin-bottom: 20px;
  text-transform: uppercase;
  opacity: 0;
  transform: translateY(-20px);
  animation: slideIn 1s forwards;
}

.description {
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 40px;
  line-height: 1.6;
  opacity: 0;
  transform: translateY(-20px);
  animation: slideIn 1.2s forwards;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.featuresContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.featureCard {
  background: #ffffff;
  padding: 30px;
  width: 220px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.3s ease;
  margin-bottom: 30px;
  opacity: 1;
  transform: translateY(0);
}

.featureCard.isVisible {
  opacity: 1;
  transform: translateY(0);
}

.featureCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.15);
}

.featureIcon {
  font-size: 50px;
  margin-bottom: 15px;
}

.featureIcon img {
  width: 60px;
  max-width: 100%;
}

.featureCount {
  font-size: 2rem;
  font-weight: bold;
  color: #222856;
  margin: 15px 0;
}

.featureTitle {
  font-size: 1.4rem;
  color: #4a4a4a;
  font-weight: 500;
}

.highlightText {
  color: #0072ff;
  font-weight: bold;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .featuresContainer {
    flex-direction: column;
    gap: 20px;
  }

  .featureCard {
    width: 90%;
    opacity: 1;
    transform: translateY(0);
  }

  .featuresTitle {
    font-size: 4vw;
  }

  .description {
    font-size: 1.2rem;
  }

  .featureCount {
    font-size: 2.5rem;
  }

  .featureTitle {
    font-size: 1.2rem;
  }
}
