/* Sponsors.module.css */

.sponsorsContainer {
    text-align: center;
    margin: 3rem 0;
    z-index: 10;
    position: relative;
    overflow: visible;
    background-image: url("../assests/Features/backg.png");
  }
  
  .sponsorsTitle {
    font-size: 2.8rem;
    font-weight: 300;
    color: #222856;
    margin-bottom: 60px;
    position: relative;
  }
  
  .sponsorsTitle span {
    font-weight: 700;
  }
  
  .imgContainerSponsors {
    /* background-image: url("../assests/Sponsors/backg.jpeg"); */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
  }
  
  .sponsorRow {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 1.5rem;
  }
  
  .sponsorCard {
    background: #e5f4f5;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 220px;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .sponsorCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  }
  
  .sponsorCard img {
    height: 60px;
    width: 120px;
    object-fit: contain;
    margin-bottom: 1rem;
    display: block;
  }
  
  .sponsorName {
    color: #222856;
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .sponsorType {
    font-weight: 600;
  }
  
  .titleBorder {
    border: 3px solid #1c8bd2;
  }
  
  .platinumBorder {
    border: 3px solid #1c8bd2;
  }
  
  .foodBorder {
    border: 3px solid #1c8bd2;
  }
  
  .goldBorder {
    border: 3px solid #1c8bd2;
  }
  
  /* Left image positioning */
  .sponsorsContainer::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -20%;
    width: 300px;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -2;
    /* background-image: url('../assests/icons/newCircle.png'); */
    transform: translateY(-50%);
  }
  
  /* Right image (static, no rotation) */
  .sponsorsContainer::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 5%;
    width: 300px;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -2;
    background-image: url('../assests/icons/newPill.png');
    transform: translateY(-50%);
  }
  
  /* Media query for mobile view */
  @media (max-width: 768px) {
    .sponsorsContainer::before {
      left: -10%;
      width: 200px;
      height: 200px;
    }
  
    .sponsorsContainer::after {
      right: 2%;
      width: 200px;
      height: 200px;
    }
  }